/* reset generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
}

/* COMMON */
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
    padding: .25em;
}



/* HEADER */

    /* HEADER - NAV */
header nav{
    height: 85px;
    /* debug */
    background-color: lightblue;
}

header span{
    /* debug */
    background-color: orange;
    border-style: dashed;
    width: 20%;
}

header nav #menù{
    flex-grow: 1;
}

header nav ul li{
    list-style-type: none;
    margin: 0 .3em;
}

    /* HEADER-JUMBO */
header .jumbo{
    /* debug */
    height: 380px;
    background-color: blue;
}

header .jumbo div{
    width: 60%;
    /* debug */
    height:300px;
    border-style: dashed;
    background-color: rgb(143, 25, 113);
}



/* MAIN */

main section{
    /* debug */
    height: 430px;
}

main section:nth-child(even){
    background-color: lightgray;
}


    /* PRIME TRE SEZIONI */
main section div.item{
    width: 33%;
    /* debug */
    background-color: pink;
    border-style: dashed;
    height: 350px;
}

main section div.item:first-child{
    flex-grow: 1;
    /* debug */
    background-color: blue;
}

.reverse{
    order: -1;
}

    /* SEZIONE SPECIALE */
main section:last-child{
    /* debug */
    height: 600px;
}

#item-speciale{
    width: 100%;
    /* debug */
    background-color: green;
    height: 500px;
    border-style: dashed;
}



/* FOOTER */

footer{
    background-color: rgb(54, 53, 53);
}

footer section{
    padding-top: 1em;
    padding-bottom:2em;
    /* debug */
    border-bottom: 2px solid white;
}

footer section div.item{
    width: 15%;
    /* debug */
    height: 350px;
    background-color: aquamarine;
    border-style: dashed;
}

footer section div.item:first-child{
    flex-grow: 1;
    /* debug */
    background-color: pink;
}

    /* aside */
footer aside{
    padding-top: 2em;
    /* debug */
    height: 100px;
}

footer aside div.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    /* debug */
    background-color: yellow;
    border-style: dashed;
    height: 100%;
}

footer div.container span{
    /* debug */
    background-color: white;
    border: dashed;
    padding: .3em;
}